/* You can add global styles to this file, and also import other style files */
a, li span {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

ul li span{
    line-height: 25px;
    text-decoration: underline
}

ul li span:hover {
    text-decoration: none;
}

.main-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 800px;
    height: auto;
}

.element-description-wrapper img {
    float: left;
    margin-right: 15px;
}

.clear {
    clear: both;
}
