/* You can add global styles to this file, and also import other style files */
body {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.87);
}

a, li span {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

ul li span{
    line-height: 25px;
    text-decoration: underline
}

ul li span:hover {
    text-decoration: none;
}

p.title {
    font-weight: bold;
}

.main-wrapper {
    margin: 0 auto;
    padding: 0;
    width: 800px;
    height: auto;
}

nav.main-navigation {
    margin: 20px 0 0 0;
}

.element-description-wrapper img {
    float: left;
    margin-right: 15px;
}

.md-card {
    margin: 20px 0;
}

.md-card-content:hover {
    text-decoration: none;
}

.md-card-content {
    cursor: pointer;
    text-decoration: underline;
}

.clear {
    clear: both;
}
